.uploaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 0 !important;

  label {
    display: block;
  }

  .photoList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .photoBox {
    position: relative;
    width: 15%;
    height: 90px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .removeBtn {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 2px;
      right: 2px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      border-radius: 2px;
      font-size: 12px;
      padding: 2px 5px;
      cursor: pointer;
    }
  }

  .addPhotoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #f6f6f6;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 15% !important;
    height: 90px;

    .plusBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      color: #888;
    }

    input[type="file"] {
      display: none;
    }
  }
}
