.modal {
  position: absolute;
  top: 80px;
  left: 10%;
  right: 10%;
  height: 80vh;
  max-width: 1000px;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  form {
    width: 90%;
    height: 715px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    div {
      display: flex;
      gap: 15px;
    }
  }



  .inputs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

      .select {
        width: 100%;
        border: 1px solid rgb(204, 204, 204);
        box-sizing: border-box;
        border-radius: 5px;
        height: 35px;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f6f6f6;

        select {
          background-color: transparent;
          border: none;
          margin: 0 4px;
        }

        select:focus {
          outline: none;
        }

        .select, input {
          height: 35px;
          border: 1px solid gainsboro;
          border-radius: 5px;
          background-color: white;
          box-sizing: border-box;
          padding: 0 12px;
        }
      }

    label {
      width: 100%;
    }

    input {
      width: 100%;
    }
  }

  .submitSellButton {
    width: 50% !important;
    height: 40px !important;
    border: none;
    border-radius: 5px;
    color: white;
    background: #349A89;
    cursor: pointer;
  }
}